#footer {
  @apply bg-navy-prim;
  font-family: 'Poppins', sans-serif; 
  height: 24rem;

  display: flex;
  justify-content: center;
  align-items: center;
  .main-container {
    width: 100%; 
  }

  #bottom-nav {
    
    #bottom-menu {
      grid-template-columns: 70% auto; 
      gap: 50%; 
      display: flex;
      justify-content: center;
      align-items: center;
    }    
    
    #bottom-about {
    
      h3 {
        margin-top: 10px;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 0.938rem;
      }
    
      address {
        @apply not-italic;
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 3rem;
      }
    
      .socmed {
        @apply flex gap-2; 
      }
    
      .socmed a {
        @apply text-white; 
      }
    }    

    div {
      @apply text-white;
      @apply text-sm;

      h3 {
        font-size: 26px;
        font-weight: 600;
      }

      a {
        @apply block my-2;
      }
    }
  }

}