#headings {
  height: 735px;
   font-family: 'Poppins', sans-serif; 
   background-image: url('..\..\img\home\BGheading.jpg'); 
   background-size: cover; 
   background-position: center; 

   #head {
    @apply grid md:grid-rows-4 md:grid-flow-col md:grid-cols-1;
    @apply text-center md:text-left;
    grid-template-columns: 90%; 
    grid-template-rows: auto 80px auto;
    color: white;
  }  
  
  
  #title-page {
    font-size: 64px;
    line-height: 93%;
    margin-top: 140px;
    font-weight: 900;

    .company-name {
      font-size: 41px; 
    }
    .subtitle {
      font-size: 64px; 
    }
  }
  
  #subtitle-page {
    height: 80px;
    margin-top: 5px;
    font-size: 33px;
    line-height: 120%;
    font-weight: 300;
  }
  
  .btn-heading {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 1.5rem;
  }
  
  .btn-heading button {
    height: 51px;
    width: 148px;
    border-radius: 15px;
  }

}