clients{
  @apply grid grid-cols-6 grid-rows-3 md:gap-8 place-content-center text-center h-full;

    #title{
            h3 {
                margin-top: 10px;
                font-size: 26px;
                font-weight: 700;
                letter-spacing: 0%;
                margin-bottom: 15px;
              }
    }

    
}