#heading-product{
    height: 550px;
     font-family: 'Poppins', sans-serif; 
     background-image: url('D:\XAMPP2\htdocs\web-stechoq\src\assets\img\home\BGheading.jpg'); 
     background-size: cover; 
     background-position: center; 
  
     #head {
      @apply grid md:grid-rows-2 md:grid-flow-col md:grid-cols-1;
      @apply text-center md:text-center px-10;
      grid-template-columns: 100%; 
      grid-template-rows: auto 80px auto;
      color: white;

      #title-page {
        font-size: 64px;
        line-height: 93%;
        margin-top: 140px;
        font-weight: 900;
      }
      
      #subtitle-page {
        height: 80px;
        margin-top: 7px;
        font-size: 33px;
        line-height: 120%;
        font-weight: 300;
      }
    }  
}

#product-detail {
  #featured-image {
    @apply object-fill overflow-hidden w-full h-[500px] bg-gradient-to-t from-neutral-600 via-neutral-500 to-neutral-400;
    @apply my-8;

    img {
      @apply w-full h-full object-cover mix-blend-overlay;
    }
  }

  #content {
    @apply py-8;

    #features {
      @apply flex flex-col gap-2 md:gap-4 lg:gap-8;

      .feature-detail {
        @apply flex flex-col text-center md:text-left md:even:flex-row md:odd:flex-row-reverse gap-2 md:gap-4 lg:gap-8;

        .feature-image {
          @apply w-full h-96 object-fill;

          img {
            @apply h-full w-full object-cover;
          }
        }

        .feature-description {
          @apply w-full flex flex-col justify-center;
          
          h4 {
            @apply font-medium text-xl mb-4;
          }

          p {
            @apply text-lg;
          }
        }
      }
    }
  }
}
